/* ########################################################################### */
/* ##################### BASIC STYLE ######################################### */
/* ########################################################################### */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  color: #555;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ########################################################################### */
/* ########################### REUSABLE COMPONENT ############################ */
/* ########################################################################### */
.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding-top: 70px;
}

.box {
  padding: 1%;
}

/* ################ BUTTON ################## */
.btn:link,
.btn:visited,
input[type=submit] {
  border: 1px solid #e67e22;
  border-radius: 35px;
  font-weight: 300;
  padding: 10px 30px;
  transition: border 0.2s, background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  border: 1px solid #cf6d17;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
.input[type=submit]:active {
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
}

.btn-ghost:link,
.btn-ghost:visited {
  background-color: transparent;
  color: #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color: #cf6d17;
  color: #fff;
  border: 1px solid #cf6d17;
}

/* ################# HEADING ###################### */
h2 {
  font-weight: 300;
  font-size: 180%;
  line-height: 120%;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: 2px;
  word-spacing: 1px;
  text-align: center;
}

h2:after {
  display: block;
  content: ' ';
  width: 100px;
  height: 2px;
  margin: 35px auto 0 auto;
  background-color: #e67e22;
}

h3 {
  font-size: 110%;
  font-weight: 300;
  margin: 15px 0;
  text-transform: uppercase;
}

/* ###################### TEXT ######################## */
.long-copy {
  width: 70%;
  margin: 35px auto;
  text-align: center;
}

p {
  font-size: 90%;
  line-height: 150%;
  color: #555;
}

/* ######################## ICON ####################### */
.icon-xLarge {
  color: #e67e22;
  font-size: 350%;
}

.icon-small {
  color: #e67e22;
  font-size: 120%;
  margin-right: 15px;
}

/* ########################################################################### */
/* ########################### HEADER ######################################## */
/* ########################################################################### */
header {
  background-image: linear-gradient(#000000b3, #000000b3), url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
  width: 100%;
}

.main-nav img {
  width: 100px;
  float: left;
  margin-top: 15px;
}

.main-nav ul {
  float: right;
  margin-top: 55px;
}

.main-nav ul li {
  display: inline-block;
  margin-left: 30px;
  text-transform: uppercase;
}

.main-nav ul li a:link,
.main-nav ul li a:visited {
  color: #fff;
  font-size: 90%;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav ul li a:hover,
.main-nav ul li a:active {
  border-bottom: 2px solid #cf6d17;
}

.hero-text {
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  font-weight: 300;
  font-size: 230%;
  line-height: 120%;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: 3px;
  word-spacing: 2px;
}

/* ########################################################################### */
/* ########################### FEATURES SECTION ############################## */
/* ########################################################################### */

/* ########################################################################### */
/* ####################### FAVORITE MEALS SECTION ############################ */
/* ########################################################################### */

.favorite-meals-section {
  width: 100%;
}

.favorite-meals-section div {
  background-color: #000000;
}

.favorite-meals-section div ul {
  width: 100%;
  font-size: 0;
}

.favorite-meals-section div ul li {
  display: inline-block;
  width: 25%;
  overflow: hidden;
}

.favorite-meals-section div ul li img {
  width: 100%;
  height: auto;
  opacity: 0.7;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.favorite-meals-section div ul li img:hover,
.favorite-meals-section div ul li img:active {
  transform: scale(1.01);
  opacity: 1;
}

/* ########################################################################### */
/* ####################### HOW IT WORKS SECTION ############################## */
/* ########################################################################### */
.how-it-works {
  background-color: #f0f0f0;
  padding-bottom: 40px;
}

.how-it-works-content {
  margin-top: 65px;
}

.how-it-works-content .app-screen {
  text-align: right;
  padding-right: 3%;
}

.how-it-works-content .app-screen img {
  width: 40%;
  height: auto;
}

.how-it-works-content .steps {
  padding-left: 3%;
  margin-top: 50px;
}

.how-it-works-content .steps .step {
  margin-bottom: 50px;
}

.how-it-works-content .steps .step div {
  float: left;
  width: 54px;
  height: 54px;
  padding: 5px;
  text-align: center;
  margin-right: 20px;
  color: #e67e22;
  font-size: 150%;
  border: 2px solid #e67e22;
  border-radius: 50%;
}

.how-it-works-content .steps .step p {
  font-size: 105%;
}

.how-it-works-content .steps img {
  height: 40px;
  width: auto;
}

/* ########################################################################### */
/* ############################# CITIES SECTION ############################## */
/* ########################################################################### */
.cities-section {
  padding-bottom: 60px;
}

.cities-features {
  margin-top: 30px;
}

.city {
  padding: 1%;
}

.city img {
  width: 100%;
}

.city ul li {
  margin-bottom: 10px;
}

.city ul li div {
  width: 36px;
  float: left;
  text-align: center;
}

.city ul li:last-child a:link,
.city ul li:last-child a:visited {
  color: #e67e22;
  border-bottom: 1px solid #e67e22;
  transition: color 0.2s, border-bottom 0.2s;
}

.city ul li:last-child a:hover,
.city ul li:last-child a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

.city ul li:last-child div i:hover {
  color: #55acee;
}

/* ########################################################################### */
/* ############################# CUSTOMERS SECTION ############################## */
/* ########################################################################### */

.customers-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding-bottom: 85px;
}

.quotes {
  margin-top: 30px;
}

blockquote {
  font-weight: 300;
  font-style: italic;
  line-height: 150%;
  margin: 35px 0;
  position: relative;
}

blockquote::before {
  display: block;
  content: '\201C';
  font-size: 550%;
  position: absolute;
  top: -15px;
  left: -10px;
}

cite img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: middle;
}

cite span {
  font-size: 90%;
}

/* ########################################################################### */
/* ############################ PRICING SECTION ############################## */
/* ########################################################################### */
.pricing-section {
  padding-bottom: 75px;
  background-color: #f0f0f0;
}

.plans {
  margin-top: 50px;
}

.plans .plan {
  background-color: rgb(251, 251, 251);
  width: 90%;
  border-radius: 5px;
  margin: 0 auto;
}

.plan-price,
.plan-features,
.plan-action,
.plan-name {
  padding: 15px;
}

.plan-price,
.plan-features,
.plan-action {
  border-bottom: 1px solid rgb(231, 231, 231);
}

.plan-name h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

.plan-price p:first-child {
  color: #e67e22;
  margin-bottom: 15px;
}

.plan-price p:first-child span {
  font-size: 350%;
  font-weight: 100;
}

.plan-price p:last-child {
  font-size: 80%;
}

.plan-features {
  padding: 15px 23px;
}

.plan-features ul li {
  margin-bottom: 10px;
}

.plan-features i {
  color: #e67e22;
  margin-right: 15px;
  font-size: 120%;
}

.plan-action {
  text-align: center;
  padding: 25px 15px;
}

/* ########################################################################### */
/* ########################### CONTACT FORM SECTION ########################## */
/* ########################################################################### */
.contact-form-section {
  padding-bottom: 70px;
}

.contact-form {
  width: 60%;
  margin: 35px auto 0;
}

input::placeholder,
textarea::placeholder {
  font-weight: 300;
}

input[type = text],
input[type = email],
select,
textarea {
  padding: 8px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  width: 100%;
  color: #555;
  font-weight: 300;
}

.contact-form .row {
  margin-bottom: 5px;
}
